{{ define "main" }}
<article>
    <header id="post-header">
        {{ if eq .RelPermalink "/" }}
            <h1 style="visibility:hidden;">&nbsp;</h1>
        {{ end }}
    </header>
    <div class="landing-page-content">
        <div class="image-content image-accent">
            <div class="image-wrapper">
                <img src="{{ "img/eduardboehm.jpg" | absURL }}" alt="Your Name" class="profile-image">
            </div>
        </div>      
        <div class="text-content">
            <!-- {{- partial "about_excerpt.html" . -}}
            {{ .Content }} -->    
        <p>I am an Assistant Professor in the Department of Economics at the London School of Economics.
        </p> 

        <p>
            I use methods from <b>Empirical Industrial Organization</b> to study
            questions related to Public Finance.
        </p>

        <!-- <p> In my <a href="/documents/boehm_jmp.pdf">job market paper</a>, I explore the impact of intermediation in insurance markets where consumers face
            choice frictions. 
        </p>

        <p>
            I will be on the job market during the 2023-2024 academic year.
        </p> -->

        <!-- <p>
            In Summer 2024, I will join the Department of Economics at the London School of Economics as an Assistant Professor.
        </p>
        <p> -->
            You can reach me at <a href="mailto:e.boehm2@lse.ac.uk">e.boehm2@lse.ac.uk</a>.
        </p>
        </div>  
    </div>
</article>
{{ end }}